.pretty_box{
	border: 1px solid;
	border-radius: 40px;
	padding: 10px;
	margin: 5px;
	background-color: rgba(255,255,255,0.2);
}

#career_table{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

#career_table{
		margin: 0 auto;
}

h2 {
  text-indent: 6px;
}

.job_plate{
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: darkslategrey;
	min-height: 300px;
	min-width: 400px;
}

.plate{
	background:url() no-repeat center center fixed;
	z-index: 99999;
	margin: 20px;
	border-radius: 40px;
	padding: 10px;
	margin: 5px;
}
.hand{
	cursor: hand;
	cursor: pointer;
}

h2{
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-top: 20px;
	padding: 		10px;
	padding-left: 60px;
	text-shadow: 2px 2px #000;
	color: white;
}

iframe{
	padding:10px;
}
.no_borders{
	background:rgba(255,255,255,0.6);
	border:0px;
	padding: 30px;
	margin: 0 auto;
}

.no_borders td{
	padding:15px;
}
