.container{
	line-height: 300px;
}
.carousel-bg .carousel-inner .item {
  background-color: darkslategrey;
  background-size: cover;
  background-position: center;
  min-height: 600px;
}

.item{
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: darkslategrey;
	min-height: 600px;
	line-height: 300px;
}

@font-face {
    font-family: myFirstFont;
    src: url("../font/rationale-webfont.woff");
}

.vertical_center{
		line-height: normal;
    display: inline-block;
    vertical-align: middle;

		text-align: center;
		margin-top: 20px;
		font-size: 36px;
		padding: 10px;
		text-shadow: 2px 2px #000;
		color: #FFF;
}

.header{
	text-align: center;
	font-family: myFirstFont;
}

#carousel{
	border-top: 1px;
	border-bottom: 1px;
}
