.search_table{
	margin: 0 auto;
}

iframe{
	padding: 20px;
}

table{
	border-radius: 20px;
	border: 1px solid;
	border-radius: 40px;
	padding: 10px;
	margin: 5px;
	background-color: rgba(255,255,255,0.2);
}
